*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  font-family: 'Roboto Slab', serif;
   color: #3b4045;
  

}
h1{
    font-size: 60px;
    line-height: 1.2;
   font-weight: 600;
   margin-bottom: 20px;
   font-family: 'Roboto Slab', serif;
}
h2{
    font-weight: 600;
    font-size: 40px;
}
p{
    font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
  color: #3b40458d;
  font-family: 'Dongle', sans-serif;

}
a{
    text-decoration: none;
    color: #3b4045;

}
.full-container{
    max-width: 1024px;
    margin: 0 auto;
}
header{
    padding: 20px 0;
}
header > nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
}
header > nav > a > img{
    width: 100%;
    height: 40px;

}
header > nav > .right-side a{
  margin-left: 35px;
  font-weight: 600;  
}

 #header > .container{
    display: flex;
justify-content: space-between;
align-items: center;
padding-top: 40px; 
}
#header > .container > .left,
#header > .container > .right {
    width: 48%;
    padding-top: 20px;

}
#header > .container > .left{
    text-align: center;
}
#header > .container > .right > button{
   border: none;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 40px;
    display: inline-block;
    background-color: #f9a743;
    box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
}
#feature{
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 100px;
}
#feature > h2{
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
}
#feature > .container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    gap: 50px;

}
.container > .colum >.item > i{
   font-size: 25px; 
   padding-bottom: 10px;
   color: #3b404556;
}
.container > .colum >.item >h3{
    font-size: 22px;
    margin-bottom: 10px;
}

#design > .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px;

}
#design > .container > .left-side{
    width: 40%;
    text-align: right;
}
#design > .container > .right-side{
width: 50%;
}
#design > .container > .right-side > h2{
margin-bottom: 40px;
color: #fff;

}
.design-container{
    background-color: #f9a743;
}
#design > .container > .right-side >p{
    color: #fff;
}
#apple{
    margin: 100px auto;
}
#apple > h2{
    text-align: center;
    margin-bottom: 50px;
}
.apple1,.apple2{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 40px;
    justify-content: space-between;

 
}
.apple1 > img,
.apple2 > img{
width: 40%;
}
.apple1 > div,
.apple2 > div{
width: 55%;
}
.apple1 > div > h3,
.apple2 > div >h3{
 font-size: 28px;
 padding-bottom: 40px;
}
.p-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
  
}
.overlay{
    background-color:rgba(0, 0, 0, 0.39);
    padding: 100px;
}
#product{
    padding: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
    font: bold;
    
}
#product > .container > p{
    color: #fff;
  font-size: 18px;
  padding-top: 20px;
}
#product >.container > form{
position: relative;
width: 60%;
margin: 0 auto;
}
#product >.container > form > input{
width: 100%;
display: inline-block;
height: 50px;
border-radius: 30px;
padding-left: 20px;
font-size: 14px;
border: none;
outline: none;

}
#product >.container > form > button{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px ;
    padding: 0 40px;
    border: none;
    font-size: 18px;
    background-color:#f9a743;
    color: #fff;

}

#review{
    margin: 100px auto;
}
#review > h2{
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
#review > .container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    text-align: center;
}
#review > .container > .item >i {
    font-size: 50px;
    color:#f9a743;
    padding-bottom: 30px;
}
#review > .container > .item >p {
    margin-bottom: 20px;
    font-size: 16px;
}
#review > .container > .item > img{
    border-radius: 50%;
    margin-bottom: 20px;
    width: 25%;
}
footer{
    background-color: #f4f4f4;
    padding: 100px;
    text-align: center;
}
.footer-container > .container >img{
height: 50px;
margin: 0 auto;
display: block;
margin-bottom: 40px;
}
footer > .container >.footerlinks {
margin: 0 auto;
    margin-bottom: 20px;
}
footer > .container >.footerlinks >a{
margin-right: 20px;
}
footer > .container >span{
color: #3b404549;}

